.jumbotron {
  padding-top: 6rem;
  background-color: rgb(131, 131, 145);
}

#project {
  background-color: rgb(131, 131, 145);
}

section {
  padding-top: 5rem;
}

.galeri-img {
  width: 100%;
}

#galeri .row > * {
  padding: 0;
}
